<div id="mapid"></div>

<div id="controls">
  <button id="add-incident-button" class="btn btn-primary">Add Incident</button>
</div>

<div id="add-incident-form">
  <%= render partial: "incidents/form" %>
</div>
