<div class="row">
  <div class="col-md-9">
    <div id="mapid"></div>
  </div>
  <div class="col-md-3">
    <div id="toggles">
      <button id="hotspot-toggle" class="btn btn-primary btn-block">
        Show Hotspots
      </button>

      <button id="incident-toggle" class="btn btn-primary btn-block">
        Show Incidents
      </button>
    </div>

  </div>
</div>
